export NOTIFICATIONS_SERVICE_URL=
export UAA_URL=
export NOTIFICATIONS_CLIENT_ID=
export NOTIFICATIONS_CLIENT_SECRET=
export MAILHOG_URL=
export CF_API=
export CF_ADMIN_USERNAME=
export CF_ADMIN_PASSWORD=
